<p>
{{pageTitle}}
</p>
<p>
Filter by : <input type="text" [(ngModel)]="listFilter" />
</p>
<p>
Filtered by : {{listFilter}}
</p>
<table *ngIf="products && products.length>0">
<tr>
<thead>
  <th>
    <input type="button" value="{{showImage?'Hide' : 'Show'}} Images" (click)="ToggelImages()"/>
  </th>
  <th>Product name</th>
  <th>5 Star Rating</th>
</thead>
</tr>
<tbody>
  <tr *ngFor="let product of filteredProducts">
    <td>
      <img *ngIf="showImage"
            [src]='product.imageUrl'
            [style.width.px]='imageWidth'/> </td>
    <td>{{product.productName}}</td>
    <td>{{product.productRating}}</td>
  </tr>
</tbody>

</table>